<div class="col-xs-12 product-list-padding" *ngIf="product">
	<div class="card pointer" (click)="onProductClick()" appHover>
    <div class="row card-padding">
			<div class="col-5" style="border-right: 1px solid grey">
				<img [src]="product.mainImage" [alt]="product.name" class="mw-100" style="max-height: 150px;">
			</div>
			<div class="col-7 ">
				<div class="row d-flex" style="border-bottom: 1px solid grey">
					<div class="col-12 pt-1">
						<h5>{{product.name}}</h5>				
					</div>
				</div>
				<div class="row d-flex">
					<div class="col-12">
						<p>{{product.stockStatus}}</p>
						<p>{{product.colour | titlecase}}</p>
						<p>{{product.price.amount | currency:product.price.currency}}</p>
					</div>
				</div>
			</div>
    </div>
	</div>
</div>