<div class="card" *ngIf="productSelected">
  <h5 class="card-header text-capitalize">
    {{productSelected.name}}
  </h5>
  <div class="d-flex justify-content-center">
    <img width="50%" [src]="productSelected.mainImage" alt="Card image cap">
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
				<h5>{{productSelected.price.amount | currency:productSelected.price.currency}}</h5>
      </div>
      <div class="col-6 text-end">
        <div ngbDropdown placement="bottom-end" class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedSize}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let size of productSelected.sizes" (click)="selectShoeSize(size)" ngbDropdownItem>{{size}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
				<h5>Descsription</h5>
				<p>{{productSelected.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
				<button type="button" class="btn btn-success" id="add-to-basket-button" style="width: 100%" (click)="addToBasket()" [disabled]="disableAddToBasket">Add to Basket</button>
      </div>
    </div>
  </div>
</div>
