<div class="row overflow-auto" style="max-height: 80vh">
  <app-product-item  *ngFor="let product of products" [product]="product" (onProductSelected)="onProductClicked(product)"></app-product-item>
</div>
