<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col-md-12">
			<router-outlet></router-outlet>
			<app-product-recently-viewed></app-product-recently-viewed>
    </div>
  </div>
</div>