<div class="col-xs-12" *ngIf="basket">
	<div class="card">
    <div class="row">
			<div class="col-5">
				<img [src]="basket.mainImage" [alt]="basket.name" class="mw-100" style="max-height: 150px;">
			</div>
			<div class="col-7 ">
				<div class="row d-flex" style="border-bottom: 1px solid grey">
					<div class="col-12 pt-1">
						<h5>{{basket.name}}</h5>				
					</div>
				</div>
				<div class="row d-flex">
					<div class="col-12">
						<p>Selected sizes: {{selectedSizes}}</p>
						<p>Quantity: {{basket.quantity}}</p>
						<p>Unit Price: {{basket.price.amount | currency:basket.price.currency}}</p>
						<p>Total Price: {{price | currency:basket.price.currency}}</p>
					</div>
				</div>
			</div>
    </div>
	</div>
</div>