<div class="row">
  <div class="col-md-5">
    <app-product-list (onProductSelected)="onProductSelected($event)"></app-product-list>
  </div>
  <div class="col-md-7">
    <app-product-view *ngIf="productSelected; else temp" [productSelected]="productSelected"></app-product-view>
    <ng-template #temp>
      <p>Please select a product!</p>
    </ng-template>
  </div>
</div>
