<div class="row">
	<div class="col-7">
		<app-basket-item *ngFor="let basket of basketList" [basket]="basket"></app-basket-item>
	</div>
	<div class="col-3">
			<div class="card">
				<div class="row">
					<div class="col-12">
						<h2>Summary</h2>
						<p>Subtotal: {{subtotal | currency:'GBP'}}</p>
					</div>
			</div>
		</div>
	</div>
</div>